/.project
/.pydevproject
/.idea
/.settings
/doc/build
*.pyc
*reports/
*application_generated_data_files/
*build/
*dist/
*egg-info/
MANIFEST
/.cache
.coverage
/.pytest_cache
__pycache__
*local/
*.log
/unittests/navigation_testing/**/*.png
/unittests/navigation_testing/single_pop_model/test.py
/unittests/navigation_testing/**/data/
